.gridster {
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);

  .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.6)!important;
    list-style: none;
  }

  .gs-w {
    background: #FFF;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    list-style: none;

    .delete {
      display: none;
    }
  }

  .player {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  }

  .grid {
    padding: 0;
  }
}


.index-col-wrapper {
  text-align: center;
}

.index {
  li {
     padding: 0;
  }

  &.index-col {
    margin-bottom: 5px;
    display: inline-block;

    li {
       text-align: center;
      float: left;
    }
  }
  &.index-row {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li {
      /* Zebra striping */
      &:nth-child(2n) {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.webui-popover-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
