.gridster {
  width: 960px;
  margin: 0 auto;

  &.deleteModeEnabled {
    .gs-w {
      .delete {
        display: block;
      }
    }
  }

  .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.6)!important;
    list-style: none;
  }

  .gs-w {
    background: #FFF;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    list-style: none;

    .delete {
      display: none;
    }
  }

  .player {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  }
}
