/* Effect 3: Push from Left*/
.st-effect-3-left.st-menu-open .st-pusher {
  transform: translate(300px, 0);
}

.st-effect-3-left.st-menu {
  transform: translate(-100%, 0);
}

.st-effect-3-left.st-menu-open .st-effect-3-left.st-menu {
  visibility: visible;
  transition: transform 0.5s;
}

.st-effect-3-left.st-menu::after {
  display: none;
}

/* Effect 3: Push from right */
/*
.st-effect-3-right.st-menu-open .st-pusher {
  transform: translate(-300px, 0);
}
*/

.st-effect-3-right.st-menu {
  transform: translate(100%, 0);
  left: auto;
  right: 0;
}

.st-effect-3-right.st-menu-open .st-effect-3-right.st-menu {
  visibility: visible;
  transition: transform 0.5s;
  transform: translate(0, 0);
}

.st-effect-3-right.st-menu::after {
  display: none;
}

